* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #e0e5ec;
}

.main {
  background-color: lightgrey;
  width: 600px;
  height: 700px;
  padding: 32px;
  margin: auto;
  margin-top: 4%;
  border-radius: 1em;
  background-color: #403d39;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.keypad__grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 12px;
}

.screen {
  background-color: #fffcf2;
  box-shadow: 1px -1px 6px 5px rgba(61, 61, 61, 0.2) inset;
  -webkit-box-shadow: 1px -1px 6px 5px rgba(61, 61, 61, 0.2) inset;
  -moz-box-shadow: 1px -1px 6px 5px rgba(61, 61, 61, 0.2) inset;
  grid-area: 1 / 1 / 2 / 5;

  display: flex;
  justify-content: end;
  padding: 16px;
  align-items: center;
}

.display {
  font-size: 64px;
}

/* CSS */

/*==========  Structure  ==========*/
button {
  text-decoration: none;
  background-color: #ccc5b9;
  border: 1px solid #b1aba2;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #b1aba2;
  color: #252422;
  font-size: 32px;

  text-shadow: 1px 1px 1px #31302d;
  transition: All 250ms ease;
}
#clear__btn {
  grid-area: 2 / 1 / 3 / 3;
  background-color: #eb5e28;
  box-shadow: 0px 5px 0px #b84a1f;
  border: 1px solid #b84a1f;
  color: #fffcf2;
}
#dlt__btn {
  grid-area: 2 / 3 / 3 / 5;
  background-color: #8d86c9;
  box-shadow: 0px 5px 0px #6a6597;
  border: 1px solid #8d86c9;

  color: #fffcf2;
}

/*==========  Active State  ==========*/
button:active {
  position: relative;
  top: 5px;
  box-shadow: none !important;

  transition: All 0.2 ease;
}
